html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p,
fieldset, label, textarea,
span, article, footer, time, small {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font: inherit;
 color: inherit;
 text-align: inherit;
 text-decoration: inherit;
 vertical-align: inherit;
 box-sizing: inherit;
 background: transparent;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

table {
  color: inherit;
}

.state{
	fill: none;
	stroke: #a9a9a9;
	stroke-width: 1;
}

.state:hover{
	fill-opacity: 0.5;
}

#tooltip {
	position: absolute;
	text-align: center;
	padding: 20px;
	margin: 10px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 1px;
	border-radius: 2px;
	pointer-events: none;
}
#tooltip h4{
	margin: 0;
	font-size: 14px;
}
#tooltip{
	background: rgba(0,0,0,0.9);
	border: 1px solid grey;
	border-radius: 5px;
	font-size: 12px;
	width: auto;
	padding: 4px;
	color: white;
	opacity: 0;
}
#tooltip table{
	table-layout: fixed;
}
#tooltip tr td{
	padding: 0;
	margin: 0;
}
#tooltip tr td:nth-child(1){
	width: 50px;
}
#tooltip tr td:nth-child(2){
	text-align: center;
}

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

#stateSliders, #statesvg, #nationalSliders {
  float: left;
}

#stateSliders, #nationalSliders {
  /*height: 100%;*/
}

#svg-container {
  float: left;
  display: inline-block;
  position: relative;
	width: calc(100% - 560px);
	padding-bottom: calc(0.67 * (100vw - 650px));
	vertical-align: middle;
	overflow: hidden;
}

#statesvg {
  display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

#forecast {
  /*height: 200px;*/
}

#feature {
  /*display: flex;*/
  background-color: #CEDCD3;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
}

.state-slide {
  float: left;
  overflow: hidden;
  /*position: absolute;
  right: 40px;
  left: 40px;*/
}

.hc, .dt, .nat-slide {
  float: left;
}

.hc, .dt {
  width: 40px;
  height: 60px;
  color: white;
  line-height: 60px;
  /*overflow: hidden;*/
}

.hc, .dt, .middle {
  text-align: center;
  font-weight: bold;
}

.hc {
  background-color: blue;
  border-radius: 10px 0 0 10px;
}

.dt {
  background-color: red;
  border-radius: 0 10px 10px 0;
  /*margin-right: 200px;*/
}

/*#dt-SS-1 {
  position: absolute;
  right: 0;

}*/

.middle {
  position: absolute;
  padding-left: 100px;
  padding-top: 5px;
}

#middle-2 {
  padding-left: 105px;
}

#middle-3 {
  padding-left: 118px;
}

.slider-row {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 80px;
}
