html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p,
fieldset, label, textarea,
span, article, footer, time, small {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font: inherit;
 color: inherit;
 text-align: inherit;
 text-decoration: inherit;
 vertical-align: inherit;
 box-sizing: inherit;
 background: transparent;
}



/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

table {
  color: inherit;
}

.state{
	/*fill: url(#hill-pic-1);*/
	/*stroke: #a9a9a9;*/
  stroke: #CEDCD3;
	stroke-width: 1;
}

.state:hover{
	fill-opacity: 0.5;
  /*fill: url(#hill-pic-1);*/
  stroke: #CEDCD3;
  stroke-width: 4;
}

#tooltip {
	position: absolute;
	text-align: center;
	padding: 20px;
	margin: 10px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 1px;
	border-radius: 2px;
	pointer-events: none;
}
#tooltip h4{
	margin: 0;
	font-size: 14px;
}
#tooltip{
	background: rgba(0,0,0,0.9);
	border: 1px solid grey;
	border-radius: 5px;
	font-size: 12px;
	width: auto;
	padding: 4px;
	color: white;
	opacity: 0;
}
#tooltip table{
	table-layout: fixed;
}
#tooltip tr td{
	padding: 0;
	margin: 0;
}
#tooltip tr td:nth-child(1){
	width: 50px;
}
#tooltip tr td:nth-child(2){
	text-align: center;
}

.ticks {
  font: 10px sans-serif;
  color: white;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.handle {
  /*fill: #fff;*/
  fill: #FF4D38;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

#stateSliders, #statesvg, #nationalSliders {
  float: left;
}

#stateSliders, #nationalSliders {
  /*height: 100%;*/
  padding-top: 25px;
}

#svg-container {
  float: left;
  display: inline-block;
  position: relative;
	width: calc(100% - 560px);
	padding-bottom: calc(0.67 * (100vw - 650px));
	vertical-align: middle;
	overflow: hidden;
}

#statesvg {
  display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

#forecast {
  /*height: 200px;*/
  /*background: linear-gradient(135deg, red, blue);*/
  padding-top: 20px;
}

#feature {
  /*background-image: url("assets/images/hillary-rodham-clinton-983ef53096a65c47.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;*/
  background-color: #CEDCD3;
  /*padding-top: 20px;*/
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  /*margin-bottom: 10px;*/

}

.state-slide {
  float: left;
  overflow: hidden;
  /*position: absolute;
  right: 40px;
  left: 40px;*/
}

#nat-label, #state-label {
  height: 40px;
  line-height: 30px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
}

#nat-label {
  /*color: #0083D6;*/
}

#state-label {
  /*color: #FF4D38;*/
}

.nat-slide, .state-slide {
  background: white;
}

.hc, .dt, .nat-slide {
  float: left;
}

.hc, .dt {
  width: 40px;
  height: 60px;
  color: white;
  line-height: 60px;
  /*overflow: hidden;*/
}

.hc, .dt, .middle {
  text-align: center;
  font-weight: bold;
}

.hc {
  background-color: #0083D6;
  border-radius: 10px 0 0 10px;
}

.dt {
  background-color: #FF4D38;
  border-radius: 0 10px 10px 0;
  /*margin-right: 200px;*/
}

/*#dt-SS-1 {
  position: absolute;
  right: 0;

}*/

.middle {
  position: absolute;
  padding-left: 100px;
  padding-top: 5px;
  color: #0083D6;
}

#middle-2, #middle-SS-2 {
  padding-left: 107px;
}

#middle-3, #middle-SS-3 {
  padding-left: 119px;
}

.slider-row {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 80px;
}

#forecast {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  background-color: #CEDCD3;
  border-radius: 10px 10px 0 0;
  /*display: flex;*/
}

.top-bar {
}

#fc-box {
 float: left;
}

#left-box, #right-box {
  width: calc((100% - 595px)/2);
  height: 100px;
  float: left;
  line-height: 100px;
  font-size: 45px;
}

#left-box {
  text-align: right;
  color: #0083D6;
}

#hillgif {
  background-image: url ("assets/images/hillary-1.gif");
  width: 100px;
  height: 100px;
  float: left;
}

#trumpgif {

}

#right-box {
  text-align: left;
  color: #FF4D38;
}

.bot-nav {
  float: right;
  width: calc(100% - 20px);
  border-radius: 0 0 10px 10px;
  background-color: #CEDCD3;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#portfolio, #github, #linkedin, #copyright {
}

#portfolio, #github, #linkedin {
  float: right;
  border-right: black solid 1px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 20px;
}

#github {
  color: #0083D6;
}

#linkedin {
  color: #FF4D38;
}

#portfolio {
  color: #0083D6;
  border: none;
}
